@(title: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>

        <script>
          window.onerror = function(errorMsg, url, lineNumber) {
            alert('ERROR: ' + errorMsg + ' url: ' + url + ' line: ' + lineNumber);
          };
        </script>

        <script src="assets/javascripts/1.js"></script>
        <script src="assets/javascripts/2.js"></script>
        <script src="assets/javascripts/3.js"></script>
        <script src="assets/javascripts/4.js"></script>
        <script src="assets/javascripts/5.js"></script>
        <script src="assets/javascripts/6.js"></script>
        <script src="assets/javascripts/7.js"></script>
        <script src="assets/javascripts/8.js"></script>
        <script src="assets/javascripts/9.js"></script>
        <script src="assets/javascripts/10.js"></script>
        <script src="assets/javascripts/11.js"></script>
        <script src="assets/javascripts/12.js"></script>
        <script src="assets/javascripts/13.js"></script>
        <script src="assets/javascripts/14.js"></script>
        <script src="assets/javascripts/15.js"></script>
        <script src="assets/javascripts/16.js"></script>
        <script src="assets/javascripts/17.js"></script>
        <script src="assets/javascripts/18.js"></script>
        <script src="assets/javascripts/19.js"></script>
        <script src="assets/javascripts/20.js"></script>
        <script src="assets/javascripts/21.js"></script>
        <script src="assets/javascripts/22.js"></script>
        <script src="assets/javascripts/23.js"></script>
        <script src="assets/javascripts/24.js"></script>
        <script src="assets/javascripts/25.js"></script>
        <script src="assets/javascripts/26.js"></script>
        <script src="assets/javascripts/27.js"></script>
        <script src="assets/javascripts/28.js"></script>
        <script src="assets/javascripts/29.js"></script>
        <script src="assets/javascripts/30.js"></script>

    </head>

    <body>

        Test page. An alert should pop up with a syntax error.

    </body>
</html>
