@(title: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>

        <script src="assets/javascripts/1.js"></script>
        <script src="assets/javascripts/2.js"></script>
        <script src="assets/javascripts/3.js"></script>
        <script src="assets/javascripts/4.js"></script>
        <script src="assets/javascripts/5.js"></script>
        <script src="assets/javascripts/6.js"></script>
        <script src="assets/javascripts/7.js"></script>
        <script src="assets/javascripts/8.js"></script>
        <script src="assets/javascripts/9.js"></script>
        <script src="assets/javascripts/10.js"></script>
        <script src="assets/javascripts/11.js"></script>
        <script src="assets/javascripts/12.js"></script>
        <script src="assets/javascripts/13.js"></script>
        <script src="assets/javascripts/14.js"></script>
        <script src="assets/javascripts/15.js"></script>
        <script src="assets/javascripts/16.js"></script>
        <script src="assets/javascripts/17.js"></script>
        <script src="assets/javascripts/18.js"></script>
        <script src="assets/javascripts/19.js"></script>
        <script src="assets/javascripts/20.js"></script>
        <script src="assets/javascripts/21.js"></script>
        <script src="assets/javascripts/22.js"></script>
        <script src="assets/javascripts/23.js"></script>
        <script src="assets/javascripts/24.js"></script>
        <script src="assets/javascripts/25.js"></script>
        <script src="assets/javascripts/26.js"></script>
        <script src="assets/javascripts/27.js"></script>
        <script src="assets/javascripts/28.js"></script>
        <script src="assets/javascripts/29.js"></script>
        <script src="assets/javascripts/30.js"></script>

    </head>

    <body>

        <pre>
        This is a test page for what I believe is a bug in play 2x.

        Steps to reproduce:

        - Run this app on a desktop machine

        - Using a real iPad (possibly iPhone too?) enable mobile safari's debug console in
          Settings &gt; Safari &gt; Advanced page.

        - Visit this the app on the iPad using mobile safari.

        - You should see a few javascript parse errors logged in the debug console.

        - Clear the mobile device's cache manually in Settings &gt; Safari

        - Visit the page again. Note that the number of errors changes and the line numbers
          are different each time.

        Debugging:

        - If you install the firebug lite bookmarklet on your mobile device, you can browse to the
          script file / line number of the parse error and you'll see that somehow the HTTP headers
          and (and sometimes body) of a different javascript file have been dumped part-way thgough
          it:

            foo = 17;

            HTTP/1.1 200 OK
            Content-Length: 7218
            Content-Type: application/javascript
            Cache-control: no-cache

            foo = 17;

        - In my tests with real javascript files what's actually happening is that script streams
          are being mixed up. Halfway through one script, another will be dumped, including its
          headers.

        - The liklihood of this happening is tied to the number of scripts requests, or probably
          actually the amount of data in scripts requested. When the scripts contain a few lines
          then it doesn't happen until you have aroudn 20 scripts being requested. With larger
          scripts, (like jquery, backbone etc) it happens with as few as 7.

        Common denominators:

        - this only seems to happen with play. If I serve the same page and same scripts through node.js
          to the same mobile devices, it doesn't happen.

        - this doesn't seem to affect desktop browsers or the new chrome iOS browser.

        - if I set up a small node.js proxy, and tell my iPad to use it as an HTTP proxy, then for some
          reason when visiting this play app, the problem goes away.

        - It reliably breaks on my iPad 3.

        - I can't reproduce it on my iPhone 4, though Marc said it happened on his iPhone (not sure
          what version).

        Is play somehow corrupting the streams in a subtle way that every other browser (and a node proxy)
        don't mind but Mobile Safari does?

        </pre>


    </body>
</html>
